<form action="<%= song_comment_url(song.id)%>" method="post">
  <%= auth_token %>
  <input type="text" name="comment[body]" placeholder="Add Comment"></input>
  <input type="hidden" name="comment[song_id]" value="<%= song.id %>"%></input>
  <button>Submit Comment</button>
</form>