<ul class='songs'>
  <% songs.forEach(function (song) { %>
    <li>
      <a href="#/song/<%= song.id %>">
        <span class='shadow'></span>
        <span class='details'>        
          <%= song.escape("title") %>
        </span>
      </a>
    </li>
  <% }); %>
</ul>