html, head, body, nav, div, h1, h2, h3, ul, li, form, button, img, form, a, header, footer, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

html {
  background: #eee;
}

img {
  border: 1px solid #aaa;
  box-sizing: border-box;
}

html, body {
  height: 100%
}

ul {
  list-style: none;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
}

input[type="button"], input[type="submit"],
input[type="reset"], input[type="file"], input[type="text"], input[type="password"], input[type="textarea"], button {
-webkit-appearance: button;
  display: inline-block;
  position: relative;
  box-sizing: content-box;  
  padding: 0;
  border: 0;
  outline: 0;
  width: auto;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

div.audiojs {
  position: fixed;
  width: 1100px;
  bottom: 0;
  left: 160px;
  height: 40px;
  background: inherit;
  overflow: hidden;
  font-family: inherit;
  font-size: 12px;
 /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
  background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);*/
}

.audiojs .scrubber {
  position: relative;
  float: left;
  width: 932px;
  background: #5a5a5a;
  height: 14px;
  margin: 10px;
  border-top: 1px solid #3f3f3f;
  border-left: 0px;
  border-bottom: 0px;
  overflow: hidden;
}

.audiojs .progress {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 14px;
  width: 0px;
  background: orange;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, orange), color-stop(0.5, orange), color-stop(0.51, orange), color-stop(1, orange));
}

footer {
  position: fixed;
  width: 1095px;
  bottom: 0;
  left: 160px;
  margin: 0px auto;
  height: 40px;
  background: black;
}
  
.root-page {
  font-size: 50px;
  image-width: 900px;
  image-height: 900px;
}

.root-page > img {
  margin: auto;
  width: 400px;
  height: 500px;
}

header {
  background: black;
  height: 40px;
}

header .wrap {
  width: 1100px;
  margin: auto;
}
  
nav a {
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
}

nav a:hover {
  color: red;
  font-size: 20px;
}

.nav-left{
  float: left;
}

.nav-left > ul > li {
  float: left;
  padding: 5px 10px;
  margin-top: 1px;
}

.nav-right > ul > li {
  float: left;
  padding: 5px 10px;
  margin-top: 1px;
}

.nav-middle{
  float: left;
  background: #424242;
  width: 380px;
  padding: 4px 10px;
  margin-top: 4px;
  border-radius: 5px;
}

.nav-middle > input[type="text"]{
  float: left;
  color: white;
  
}

.nav-middle > input[type="submit"]{
  float: right;
  color: black;
}

.nav-middle > input[type="submit"]:hover{
  color: orange;
}

.nav-middle > input[type="text"]::-webkit-input-placeholder {
  font-style: italic;
}

.nav-middle > input[type="text"]::-webkit-input-placeholder:hover {
  color: orange;
}

.nav-right {
  float: right;
}

.nav-left > ul {
/*  border-left: 1px solid #ccc;*/
}

.nav-left > ul {
/*  border-left: 1px solid #ccc;*/
}


section.new-session-buttons {
  margin: 5px;
  margin: 375px auto;
}

section.new-session-buttons > div {
}

div.sign-in {
  float: left;
  background: black;
  margin-left: 310px;
  width: auto;
  font-size: 25px;
  text-transform: uppercase;
  color: #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

section#sign-in {
  margin: 5px;
}

section.facebook-sign-in {
  margin: 5px 60px;
  margin-bottom: 40px;
  width: 280;
}

form#sign-in {
}

form#sign-in > input[type="text"], input[type="password"] {
  float: left;
  width: 377px;
  padding: 5px 10px;
  text-align: center;
  outline: 1px solid #ccc;
}

form#sign-in > button {
  padding: 5px 10px;
  margin: 10px auto;
  width: 377px;
  color: white;
  background: #202020;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 24px;

}

form#sign-in > button:hover {
  background-color: #3E3E3E;
}

div.sign-up {
  float: right;
  background: black;
  margin-right: 310px;
  width: auto;
  font-size: 25px;
  text-transform: uppercase;
  color: #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

#modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  border: 1px solid red;
}

#modal.is-active {
  display: block;
  border: 1px solid red;
}

#modal:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#modal > section {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 400px;
  margin-bottom: 100px;
  margin-left: -250px;
  min-height: 200px;
  padding: 50px;
  background: white;
  border-radius: 5px;
}

#modal .hide-modal {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: gray;
}

#modal .hide-modal:hover {
  color: black;
}

.main {
  width: 1040px;
  margin: auto;
  background: white;
  padding: 30px;
  min-height: 110%;
  height: auto;
}

/* User Show Page */

.user-show-page {
  width: 1040px;
  margin: 0 auto;
}

.user-show-sidebar {
  float: left;
  width: 220px;
  font-size: 25px;
  box-sizing: border-box;
}

.user-show-stream {
  float: left;
  width: 580px;
  box-sizing: border-box;
  margin: 0 10px;
  border-top: 1px solid transparent;
}

.user-show-content {
  float: left;
  width: 220px;
  box-sizing: border-box;
  padding-left: 12px;
  border-left: 1px solid #ccc;
}

.user-show-image {
}

.user-show-image > a > img {
  width: 200px;
  height: 200px;
}

div.name {
  margin-top: 20px;
}

.name > p {
  padding: 2px;
  margin: 0px;
}

p.username {
  font-size: 16px;
  color: #bbb;
}

.follow-buttons {
  font-size: 25px;
  margin-top: 10px;
}

.follow-buttons #unfollow,
.follow-buttons.followed #follow, {
  display: none;
}

.follow-buttons #follow,
.follow-buttons.followed #unfollow {
  display: block;
}

.sidebar-right-header {
  
}

ul.likes > li {
  float: left;
  margin: 3px 3px 0 0;
}

ul.followers > li {
  float: left;
  margin: 3px 3px 0 0;
}

ul.following > li {
  float: left;
  margin: 3px 3px 0 0;
}

section.upcoming-shows {
  width: 190px;
  margin-top: 20px;
}

/* Song Show Page*/

section.song-show-top {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.song-show > a {
 text-decoration: none;
 color: #bbb;
}

.song-info.song-show {

}

.song-info.song-show .song-uploader {
  margin: 5px;
}

.song-title-line {
}

.song-info.song-show .song-title {
  float: left;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3;
  margin: 5px 5px 5px 14px;
  width: auto;
}

.song-info.song-show #play-button {
  font-size: 30px;
  margin: 8px 6px 0 0;
  vertical-align: center;
  float: left;
}

.song-info.song-show #play-button:hover {
  color: red;
}

.song-info.song-show #pause-button {
  font-size: 25px;
  margin: 10px 5px 10px -8px;
  vertical-align: center;
  float: left;
}

.song-info.song-show #pause-button:hover {
   color: red;
}

div.waveform {
  position: relative;
  margin: 1px;
}

.music-player-widget {
  height: 100px;
  position: relative;
}

.waveform-progress-bar {
  position: absolute;
  height: 100px;
  background: orange;
}


.like-buttons.song-show > button, .song-show#add-to-playlist {
  float: left;
  width: auto;
  margin: 5px 10px 0 0;
  background: #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.like-buttons.song-show > button:hover { 
  color: orange;
  background: #707070;
}
 
.like-buttons.song-show #unlike-song,
.like-buttons.song-show.is-liked #like-song, {
  display: none;
}

.like-buttons.song-show #like-song,
.like-buttons.song-show.is-liked #unlike-song {
  display: block;
}

.play-pause-buttons #pause-button,
.play-pause-buttons.is-playing #play-button {
  display: none ;
}

.play-pause-buttons #play-button,
.play-pause-buttons.is-playing #pause-button {
  display: block;
}

div.comment-form {
}

form#add-comment {
  background: #ccc;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #aaa;
}

#add-comment > input[type="text"], {
  display: block;
  background: #fff;
  border: 1px solid #eee;
  padding: 5px;
  font-size: 12px;
  width: 1017px;
  align: left;
  outline: 1px solid #aaa
}

.add-comment {
  align: right;
}

section.song-show-bottom {
  
}

div.image {
  margin-top: 20px;
}

img.song-show.song-image {
  float: left;
  width: 200px;
  height: 200px;
}

div.comments {
  float: left;
  width: 600px;
  margin: 0px 15px;
}

div.comments > ul > li {
  padding: 5px 10px 5px 0;
  float: left;
  width: 588px;
  border-bottom: 1px solid #ccc;
}

div.comment-user-pic {
  float: left;
  margin-top: 2px;
}

div.comment-body {
  float: left;
  width: auto;
  padding-left: 5px;
}

div.comment-username {
  width: px;
  color: #aaa;
  margin-top: 5px;
  padding-left: 5px;
  float: left;
}

div.comment-text {
  width: px;
  color: black;
  padding-left: 5px;
  float: left;
}

ul.comments {
  margin-top: 3px;
  border-top: 1px solid #ccc;
}

button.remove-comment {
  float: right;
  margin-top: 11px;
  font-size: 25px;
  cursor: pointer;
}

button.remove-comment:hover {
  color: red;
}

/* Song Stream on User Show Page */

section.song-stream {
  float: left;
  margin-bottom: 20px;
  width: 800px;
}

.stream-page-right {
  float: right;
  width: 220px;
  border-left: 1px solid #ccc;
  height: 100%;
  padding: 0 0 0 15px;
}

.stream-page-right > ul {
  float: right;
  width: 220px;
  border-left: 1px solid #ccc;
  height: 100%;
  padding: 0 0 0 15px;
}

.stream-page-right > ul > li {
  margin: 10px;
}

.stream-page-right > ul > li > a {
  float: left;

}

.stream-page-username {
  float: right;
  width: auto;
  margin: 14px 0 14px 5px;
}

.song-uploader > a {
  font-size: 14px;
  text-decoration: none;
  color: #bbb;
}

.song-image-stream {
  float: left;
  width: 100px;
  height: 100px;
}

.song-info.song-stream {
  float: left;
  width: 466px;
  border-bottom: 1px solid #ccc;
  margin-left: 10px;
}

.song-info.song-stream > .song-uploader {
  font-size: 12px;
}

.song-info.song-stream > .song-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.song-title-line {
}

.song-info.song-stream #play-button {
  font-size: 15px;
  margin: 0px 6px 0 0;
  vertical-align: center;
  float: left;
}

.song-info.song-stream #play-button:hover {
  color: red;
}

.song-info.song-stream #pause-button {
  font-size: 15px;
  margin: 0px 5px 0px -7px;
  vertical-align: center;
  float: left;
}

.song-info.song-stream #pause-button:hover {
   color: red;
}

.music-player-widget {
  align: left;
  height: 100px;
}


.like-buttons.song-stream #unlike-song,
.like-buttons.song-stream.is-liked #like-song, {
  display: none;
}

.like-buttons.song-stream #like-song,
.like-buttons.song-stream.is-liked #unlike-song {
  display: block;
}

.like-buttons.song-stream > button, .song-stream#add-to-playlist { 
  float: left;
  width: auto;
  margin: 5px 10px 5px 0;
  background: #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.like-buttons.song-stream > button:hover { 
  color: orange;
  background: #707070;
}

/* STREAM PAGE */

/* NEW SONG PAGE*/

h1.new-song {
  margin: 15px auto;
  width: 170px;
  text-transform: uppercase;
}

form.new-song {
  margin: 5px;
}


#new-song-title {
   margin: 5px;
}

#new-song-genre {
   margin: 5px;
}

#new-song-description {
   margin: 5px;
}

#new-song-file {
   margin: 5px;
}

#new-song-image {
  margin: 5px;
}

.input-box > input[type="file"] {
  width: 360px;
  padding: 5px 10px;
}

.input-box > textarea {
  width: 374px;
}

section.new-song {
  border: 1px solid black;
  margin: 5px auto;
  width: 400px;
}

div.input-label {
  margin: 5px auto;
  text-align: center;
  padding: 5px 10px;
}

div.input-box {
  margin: 5px auto;
  border: 1px solid #ccc;
}

button.upload-song {
  margin: 10px auto;
  padding: 5px 10px;
  width: 370px;
  color: white;
  background: black;
}

.select-genre {
  width: 378px;
}



