input[type="button"], input[type="submit"],
input[type="reset"], input[type="file"], button {
  -webkit-appearance: button;
  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  padding: 5px;
  border: 0;
  outline: 0;
  width: auto;
  font: inherit;
  vertical-align: baseline;
  background: black;
  color: red;
  position: relative;
}

.song-stream {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid purple;
}

.song-stream a {
   margin: 10px;
}

.song-stream > div {
  float: left;
  border: 1px solid purple;
}

.song-info {
  margin: 5px;
}

.song-info > ul {
  width: 950px
}

.song-info > ul > div {
  float: left;
  width: 948px;
  margin: 8px 0 8px 0;
}

.song-image {
  float: left;
  margin: 5px;
  width: 200px;
  height: 200px;
}

.song-info {
  float: left;
  border-bottom: 2px solid #ddd;
}

.song-title {
  font-size: 50px;
}

.song-artist {
  font-size: 25px;
}

.song-show-title {
  font-size: 50px;
}

.song-show-artist {
  font-size: 25px;
}

.music-player-widget {
  width: 650px;
  height: 75px;
  background: black;
}

.song-buttons > li{
  float: left;
  margin: 5px 5px 5px 0;
}

ul {
  list-style: none;
}


.song-show > div {
  margin: 20px 0 20px 0;
}

.song-show-top {

}

.song-show-top > div {
  
}

.add-comment {
  border: 1px solid black;
  padding: 5px;
  background: #ccc;
}

.song-show-image {
}

.song-show-info {
}

.song-show-info > ul {
}

.song-show-info > ul > div {
}

.song-show-info > ul > div > li {
}

.song-show-artist-title > li.song-show-artist {
  font-size: 15px;
  color: #aaa;
}

.song-show-artist-title > li.song-show-title {
  font-size: 40px;
}

.show-music-player-widget {
  width: 100%;
  height: 110px;
  background: black;
}

.song-show-buttons > li{
    float: left;
    margin: 5px;
}