.song-stream {
  display: block;
  margin: 10px;
  padding: 10px;
}

.song-stream > div {
  float: left;
}

.song-info {
  margin: 5px;
}

.song-info > ul {
  width: 950px
}

.song-info > ul > div {
  float: left;
  width: 948px;
  margin: 8px 0 8px 0;
}

.song-image {
  float: left;
  margin: 5px;
  width: 200px;
  height: 200px;
}

.song-info {
  float: left;
  border-bottom: 2px solid #ddd;
}

.song-artist-title {
}

.music-player-widget {
  width: 650px;
  height: 75px;
  background: black;
}

.song-buttons > li{
  float: left;
  margin: 5px 5px 5px 0;
}
