.song-stream {
  display: block;
  margin: 10px;
  padding: 10px;
}

.song-stream > div {
  float: left;
}

.song-info {
  margin: 5px;
}

.song-info > ul {
  width: 950px
}

.song-info > ul > div {
  float: left;
  width: 948px;
  margin: 8px 0 8px 0;
}

.song-image {
  float: left;
  margin: 5px;
  width: 200px;
  height: 200px;
}

.song-info {
  float: left;
  border-bottom: 2px solid #ddd;
}

.song-artist-title {
}

.music-player-widget {
  width: 650px;
  height: 75px;
  background: black;
}

.song-buttons > li{
  float: left;
  margin: 5px 5px 5px 0;
}





input[type="button"], input[type="submit"],
input[type="reset"], input[type="file"], button {
  -webkit-appearance: button;
    display: inline-block;
    box-sizing: content-box;
    margin: 0;
    padding: 5px;
    border: 0;
    outline: 0;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    background: black;
    color: red;
    position: relative;
  }

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.username {
  width: 1200px;
  font-size: 25px;
  margin: 25px auto;
}

.show {
  margin: 10px auto;
}

.song-header {
  width: auto;
  padding: 10px;
  margin: 10px auto;
}

.song-stream {
  margin: 5px auto;
}

.song-header > div {
  border: inherit;
}

.song-title {
  font-size: 50px;
}

.song-artist {
  font-size: 25px;
}

.music-player > div {
  margin: 10px;
  padding: 10px;
}

.music-player-widget {
  float: left;
}

.like-button {
  float: left;
}

.add-to-playlist {
  float: left;
}

.band-logo {
  width: 200px;
}

.band-logo > img {
  float: left;
  image-width: 50px;
  image-height: 50px;
}

.song-main {
  float: left;
  display: block;
  width: 300px;
  margin: 10px auto;
}

.song-info {
}

.show-content > a {
  color: white;
  padding: 5px;
  margin: 10px;
  background: blue;
  border-radius: 5px;
  text-decoration: none;
}
