input[type="button"], input[type="submit"],
input[type="reset"], input[type="file"], button {
  -webkit-appearance: button;
    display: inline-block;
    box-sizing: content-box;
    margin: 0;
    padding: 5px;
    border: 0;
    outline: 0;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    background: black;
    color: red;
  }
  
ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.username {
  width: 1200px;
  font-size: 25px;
  margin: 25px auto;
}

.show {
  margin: 10px auto;
}

.show-title {
  float: left;
  font-weight: bold;
  font-size: 30px;
  width: 210px;
  margin: 1px;
  text-align: center;
  padding: 10px;
}

.show-content > div {
  float: left;
  width: 213px;
  text-align: center;
  padding: 10px;
}

.show-content > ul > li {
  float: left;
  width: 213px;
  text-align: center;
  padding: 10px;
}

.show-content > a {
  color: white;
  padding: 5px;
  margin: 10px;
  background: blue;
  border-radius: 5px;
  text-decoration: none;
}

