<h1><%= @playlist.title %></h1>

<h3>Songs</h3>
<ul>
	<% @songs.each do |song| %>
		<li><%= song.title %></li>
		<%= button_to "Remove from Playlist", playlist_song_url(playlist_id: @playlist.id, song_id: song.id), action: :remove_song %>
	<% end %>
</ul>

<a href="<%= edit_playlist_url(@playlist) %>">Edit Playlist</a>